 * {
     outline: 3px solid blue
 }

body,html {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    color:white;

}

.navbar h3{
    font-size: 24px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 18px;
    font-size: 18px;
    text-align: center;

}

.navbar ul li {
    padding: 10px;

}

.navbar ul li a {
    text-decoration: none;
    color:white;
}

.hero{
    background-color: #1f2937;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    padding: 50px;
    padding-bottom: 100px;
    padding-left: 290px;
    padding-top: 100px;

}

.hero img{
    position: relative;
    width: 450px;
    height: 250px;
    float: right;
    right: 250px;
    bottom: 25px;
    
}

.hero-text{
    width: 450px;
    display: flex;
    flex-direction: column;
    font-size: 18px;

}

.hero-text h2{
    font-size: 48px;
    margin: 0%;
    display: flex;
    
}

.hero-text a{
    text-align: center;
    width: 100px;
    text-decoration: none;
    color: white;
    background: #5f95e1;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 10px;
}

.info{
    padding: 55px;
    height: auto;
}

.info h2{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: bolder;
    padding: 10px;
    margin: 5px auto;
    margin-bottom: 10px;
    max-width: 1000px;
}

.info ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.info ul li img {
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    border: #1b6de0;
    border-radius: 5px;
    border: 6px solid #5fc918;
}

.info ul li{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    
}

.quote{
    padding: 150px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #E5E7EB;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-weight: lighter;
    max-width:600;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.callbox{
    display: flex;
    background-color: #1b6de0;
    margin: 50px;
    padding: 10px;
    width: 50%;
    /* height: max-content; */
    border-radius: 5px;
    align-items: center;
    text-align: left;
    
}

.h3-p{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: white;
}

.h3-p h3{
    margin: 1px;
}

.h3-p p{
    margin: 1px;
    font-size: 15px;
    font-weight: 300;
}

.callbox button{
    font-size: 15px;
    border-radius: 8px;
    padding: 6px;
    margin-left: 95px;
    width: 14%;
    background-color: #1b6de0;
    border-color: white;
    
    
}

.callbox button a{
    text-decoration: none;
    color: white;
}